.Home {
  text-align: center;
  background: linear-gradient(141deg, #2cb5e8 0%, #1fc8db 51%, #7dfff7 75%);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  margin-right: 10px;
  margin-top:7px;
}

.hero {
  font-size: large;
  color: white;
}

.hero h3 {
  font-family: 'Dosis', sans-serif;
  opacity: 0.95;
}

.search-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-wrapper {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

footer {
  font-size: large;
  position: relative;
  padding-top: 40px;
  width: 100%;
}

footer a:first-child {
  padding-right: 40px;
}
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
