.navbar {
  position: relative;
  height: auto;
  float: left;
  width: 100%;
}
.navbar .navbar-wrapper {
  position: relative;
  height: auto;
  float: left;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0;
}
.navbar .navbar-wrapper .row {
  margin-top: 10px;
  margin-bottom: 0px;
}
