.Searchbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.search-text {
  font-size: 1.2rem !important;
  margin: 0 !important;
  line-height: 2.5rem;
  margin-left: 20px !important;
  height: auto !important;
  width: 200px !important;
  border-bottom: none !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-text:focus {
  width: 100% !important;
  color: #000 !important;
}
