.mini .Searchbar {
  padding: 0px;
}
.Searchbar {
  padding: 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  border-radius: 50px;
}
.search-text {
  flex-grow: 2;
  font-size: 1.2rem !important;
  margin: 0 !important;
  line-height: 2.5rem;
  margin-left: 20px !important;
  height: auto !important;
  border-bottom: none !important;
  width: auto !important;
}
.search-text:focus {
  color: #000 !important;
  box-shadow: none !important;
}
.search-button {
  flex-shrink: 0;
}

a {
  line-height: 1.5;
}
