.choice-container {
  float: left;
  margin-right: 20px;
  margin-top: 25px;
  padding-bottom: 20px;
}

.mobile .choice-container {
  margin-top: 5px;
}

label {
  display: flex !important;
  flex-direction: row !important;
  margin-left: 5%;
  justify-content: left !important;
  align-items: center !important;
  height: 20px !important;
}

img {
  height: 30px;
  margin-right: 10px;
}
